*.csv
target/*
.idea/*
00h01h_observations.csv
all_links.csv
all_observations.csv
lentilly_links.csv
lentilly_observations.csv
artemis_emulator_test_script.sh
emulator.sh
emulatorx.iml
final_links.csv
final_all_observations.csv
all_areas.txt
areas.txt
*.py
*.json
src/main/java/configuration/Main.java
/target/
